main {
    height: 125vh;
}

form {
    margin-top: 70px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.odd,
.even {
    display: flex;
    align-items: baseline;
}